body {
	background-color: #222222;
	font-family: Inter, sans-serif;
	color: #8d8d8d;
	font-size: 1rem;
	line-height: 1.5;
}

h1 {
	margin-top: 0px;
	margin-bottom: 1.5rem;
	color: #fff;
	font-size: 3.375rem;
	line-height: 1.15;
	font-weight: 700;
	letter-spacing: -0.125rem;
}

h2 {
	margin-top: 0px;
	margin-bottom: 1.5rem;
	color: #fff;
	font-size: 2rem;
	line-height: 1.3;
	font-weight: 700;
}

h3 {
	margin-top: 2rem;
	margin-bottom: 1.25rem;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 700;
}

p {
	margin-bottom: 1rem;
	font-size: 1.0625rem;
	font-weight: 400;
	line-height: 1.6;
}

p:last-of-type {
	margin-bottom: 0;
}

.section ul {
	padding-left: 1.325rem;
	margin-bottom: 1.5rem;
	list-style-type: none;
}

.section li {
	font-size: 1.0625rem;
	margin-bottom: 0.325rem;
}

.section li::before {
	content: '-';
	position: absolute;
	margin-left: -20px;
}

a {
	opacity: 1;
	-webkit-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	text-decoration: underline;
	color: #8d8d8d;
}

a:hover,
a:focus-visible {
	opacity: 0.8;
}

strong {
	color: #c7c7c7;
}

button:disabled,
button:disabled:hover {
	opacity: 0.4;
}

.container {
	width: 100%;
	max-width: 70em;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2em;
	padding-left: 2em;
}

.container.container--large {
	max-width: 90em;
}

.container.container--small {
	max-width: 45em;
}

.subtitle {
	margin-top: 1.25rem;
	margin-bottom: .625rem;
	color: inherit;
}

.hero {
	display: -ms-grid;
	display: grid;
	height: 100vh;
	margin-bottom: 6rem;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	grid-auto-columns: 1fr;
	grid-column-gap: 8rem;
	-ms-grid-columns: 1.5fr 0.75fr;
	grid-template-columns: 1.5fr 0.75fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

.logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo__text {
	color: #fff;
	font-size: 1.875rem;
	font-weight: 700;
	letter-spacing: -0.0625rem;
}

.logo__image {
	width: 3rem;
	margin-right: 0.825rem;
}

.hero__left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	max-height: 60rem;
	padding-top: 4.5rem;
	padding-bottom: 4rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	grid-auto-columns: 1fr;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto;
}

.hero__content {
	display: -ms-grid;
	display: grid;
	margin-top: 2rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-items: start;
	grid-auto-columns: 1fr;
	grid-row-gap: 2rem;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto;
}

.hero__subtitle {
	font-size: 1.35rem;
	font-weight: 700;
}

.hero__subtitle.hero__subtitle--small {
	color: #8d8d8d;
	font-size: 1.25rem;
}

.quantity {
	display: flex;
	height: 2rem;
}

#quantity {
	border-left: none;
	border-bottom: 1px solid #1a5d83;
	border-top: 1px solid #1a5d83;
	border-right: none;
	text-align: center;
	width: 3rem;
	background: #f3fbff;
	color: #444;
}

.value-button {
	border: 1px solid #1a5d83;
	padding: 0.4rem 0.675rem;
	background: #5eb0de;
	cursor: pointer;
	user-select: none;
	line-height: 1;
	color: white;
}

.value-button:first-child {
	border-radius: 0.25rem 0 0 0.25rem;
}

.value-button:last-child {
	border-radius: 0 0.25rem 0.25rem 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]:focus {
	outline: none;
}

.btn {
	margin-right: 1rem;
	padding: 1.125rem 0.985rem;
	border-radius: 0.75rem;
	background-color: #5eb0de;
	font-size: 1.25rem;
	line-height: 1.2;
	font-weight: 700;
	transition: background-color 200ms ease;
}

.btn:hover,
.btn:focus-visible {
	background-color: #449bcc;
	opacity: 1;
}

.filmstrip {
	display: -ms-grid;
	display: grid;
	overflow: visible;
	grid-auto-columns: 1fr;
	grid-row-gap: 2rem;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto;
	-webkit-transform: translate(0px, 2rem);
	-ms-transform: translate(0px, 2rem);
	transform: translate(0px, 2rem);
}

.filmstrip__img {
	display: block;
	border-radius: 1.5rem;
}

.hero__right {
	overflow: hidden;
	max-height: 100vh;
	-webkit-align-self: start;
	-ms-flex-item-align: start;
	-ms-grid-row-align: start;
	align-self: start;
}

.section {
	padding-bottom: 6rem;
}

.section.section--grid {
	display: -ms-grid;
	display: grid;
	grid-auto-columns: 1fr;
	grid-column-gap: 4rem;
	grid-row-gap: 2rem;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

.section.section--grid.section--grid-condensed {
	display: -ms-grid;
	display: grid;
	-webkit-box-pack: stretch;
	-webkit-justify-content: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	justify-items: stretch;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	grid-auto-flow: row;
	grid-auto-columns: 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

.text-center {
	text-align: center;
}

.hero__title {
	margin-bottom: 0.5rem;
}

.team {
	display: -ms-grid;
	display: grid;
	margin-top: 2rem;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	justify-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	grid-auto-columns: 1fr;
	grid-column-gap: 3rem;
	grid-row-gap: 2rem;
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
	font-weight: 500;
}

.team__member {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

.team__member a {
	text-decoration: none;
}

.team__pfp {
	margin-bottom: 0.5rem;
	border-radius: 50%;
}

.faq {
	overflow: hidden;
	width: 100%;
	min-width: 100%;
}

.faq__question {
	width: 100%;
	padding: 1rem 3.5rem 1rem 1rem;
	border-radius: 0.75rem;
	background-color: #333;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
	color: #fff;
	font-weight: 500;
	white-space: normal;
	position: relative;
}

.faq__question:hover,
.faq__question:focus-visible {
	background-color: #373737;
	cursor: pointer;
}

.faq[open] .faq__question {
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 0rem;
}

.faq__answer-container {
	position: static;
	padding: 1rem;
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.7rem;
	background-color: #292929;
}

.faq__answer {
	margin-bottom: 0rem;
	font-size: 1rem;
}

.footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 4rem;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.down-chevron {
	position: static;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0.75rem;
	color: #8d8d8d;
	font-size: 1.125rem;
}

.hero__learn-more {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
}

.footer__links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.footer__link-container {
	padding-left: 2rem;
}

.hero__btns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.total_supply_label {
	margin-left: 0.5rem;
}

.mint {
	display: none;
}

.mint__status {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0.5rem;
}

.faq2 {
	height: 100%;
	border-radius: 0.75rem;
	background-color: #333;
}

.faq2__question {
	padding: 1rem 3.6rem 1rem 1rem;
	color: #fff;
	font-weight: 700;
}

.faq2__answer {
	display: none;
}

.text-block-2 {
	overflow: hidden;
	white-space: pre-wrap;
}

.body {
	color: #8d8d8d;
}

@media screen and (max-width: 991px) {
	h1 {
		font-size: 3rem;
	}

	.hero {
		grid-column-gap: 3rem;
	}

	.hero__subtitle {
		font-size: 1.25rem;
	}

	.hero__subtitle.hero__subtitle--small {
		font-size: 1.125rem;
	}

	.btn {
		margin-right: 0rem;
		margin-bottom: 1rem;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		font-size: 1.25rem;
	}

	.section.section--grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.section.section--grid.section--grid-condensed {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.hero__btns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 2.75rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	.hero {
		height: auto;
		grid-row-gap: 4rem;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}

	.logo__text {
		font-size: 1.675rem;
	}

	.hero__left {
		max-height: none;
		padding-top: 2rem;
		padding-bottom: 0rem;
	}

	.hero__content {
		margin-top: 3rem;
		grid-row-gap: 1.5rem;
	}

	.hero__subtitle {
		font-size: 1.125rem;
	}

	.hero__subtitle.hero__subtitle--small {
		font-size: 1.075rem;
	}

	.btn {
		padding: 1rem 1.5rem;
		-webkit-transition: background-color 150ms ease;
		transition: background-color 150ms ease;
		font-size: 1.125rem;
	}

	.filmstrip {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		overflow: scroll;
		margin-bottom: 1rem;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: stretch;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.filmstrip__img {
		overflow: visible;
		max-width: 60%;
		margin-right: 2rem;
	}

	.hero__right {
		max-height: 100%;
	}

	.footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: center;
	}

	.footer__links {
		margin-top: 1rem;
	}

	.footer__link-container {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
}

@media screen and (max-width: 479px) {
	h1 {
		margin-bottom: 2rem;
		font-size: 2.25rem;
		letter-spacing: -0.0625rem;
	}

	h2 {
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.125rem;
	}

	.container {
		padding-right: 1.5em;
		padding-left: 1.5em;
	}

	.hero {
		margin-bottom: 3rem;
	}

	.hero__subtitle {
		font-size: 1.0725rem;
	}

	.filmstrip {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.hero__right {
		overflow: visible;
	}

	.section {
		padding-bottom: 3rem;
	}

	.section.section--grid.section--grid-condensed {
		grid-row-gap: 1.5rem;
	}

	.hero__title {
		font-size: 2rem;
	}

	.team {
		grid-column-gap: 1.5rem;
		grid-row-gap: 1.25rem;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.faq__question {
		display: block;
		width: 100%;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		font-weight: 500;
		-o-object-fit: fill;
		object-fit: fill;
	}

	.footer {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.text-block {
		position: relative;
		display: block;
		width: 100%;
	}
}
